.service{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    


}

.switch{
    min-height:2000vh
  }

.service_image{
width:50%;
}


@media only screen and (max-width: 1230px) { 

.service_image{
    margin-top:-2%;
    width:95vw;
    height: 100%;


}

}