
    .varangy_box-text{
        font-size:1.3rem;
        line-height: 2rem;
        text-align: justify;

        margin-bottom:3rem;
        margin-top:3rem;
    }

    .varangy_kep{
        margin-right:2%;
        max-width: 30rem;
        height:100%;
        float:left;
        background-position: top;
    }
    .varangy_kep_2{
        margin-left:2%;
        max-width: 30rem;
        
        float:right;
        margin-top:2.6rem;
    }

.szerzo{
    display: flex;
    flex-direction: row;
    margin-top:1rem;
}


.szerzo_nev{
    margin-bottom:2rem;

}

